@tailwind base;
@tailwind components;
@tailwind utilities;

a,
.acu-focus {
  @apply outline-2 outline-offset-4 outline-acu-purple-100 focus-visible:outline-dotted;
}

#storybook-root,
.sb-story {
  padding-block: 15px;
  overflow: hidden;
}

.innerZoomElementWrapper {
  @apply @container/main;
}
.docs-story > div > div {
  overflow: hidden;
}

.cta--right-arrow {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-top: 0.5rem;
}
.cta--right-arrow:hover {
  text-decoration: underline;
}
.cta--right-arrow::after {
  content: '\2192';
  color: black;
  font-size: 1.5rem;
  height: fit-content;
  position: absolute;
  right: -25px;
  top: 47%;
  transform: translateY(-50%);
}

.small-marker::marker {
  font-size: 0.75em;
}
