@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Icons';
  src: url('../public/fonts/Icon54-04-01-2018.ttf') format('truetype');
}

a,
.acu-focus {
  @apply outline-2 outline-offset-4 outline-acu-purple-100 focus-visible:outline-dotted;
}
.acu-focus-white {
  @apply acu-focus;
  @apply outline-acu-white;
}

#storybook-docs .sbdocs-content {
  max-width: 1200px;
}

#storybook-root,
.sb-story {
  padding-block: 15px;
  overflow: hidden;
}

#storybook-root:has(.main-header),
#story--components-header-main--primary:has(.main-header) {
  padding-top: 0;
  min-height: 100vh;
}

.innerZoomElementWrapper {
  @apply @container/main;
}
.docs-story > div > div {
  overflow: hidden;
}

.small-marker::marker {
  font-size: 0.75em;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.accordion-content ul {
  list-style: disc;
  margin-left: 1rem;
}

.accordion-content p {
  margin-bottom: 0.5rem;
}
